@charset "utf-8";
/* CSS Document */
body{
	background-size:100%;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 98%;
  opacity:0.8;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  background-color:#000;
  opacity:0.90;
  color:#FFF;

}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #FFF;
}
.atd {
	text-decoration:none;
	color:#FFF;
}
.SEARCH{
	overflow:hidden;
	max-height:578px;
	margin-left:2%;
}
.dtext{
	margin-left:10%;
	margin-right:10%;
	width:80%;
	background-color:#000;
	opacity:0.92%;
	color:#FFF;
	width: 80%;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 25%;
	height:auto;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.gallery2 {
    margin: 5px;
    float: left;
    width: 70%;
	height:auto;
	background-color:#000;
	opacity:0.90;
	color:#FFF;
}